@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  color: #111827;
  background: #ffffff;
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

::view-transition-old(*) {
  animation: 0.3s ease-in-out slide-out-left;
}

::view-transition-new(*) {
  animation: 0.3s ease-in-out slide-in-right;
}
